@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-backish-blue: hsl(219, 29%, 14%);
}

* {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: var(--light-grayish-blue);
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.card {
    border-radius: 10px;
    padding: 18px;
    min-width: 200px;
}

.card--col-span-2 {
    grid-column: span 2;
}

.card--row-span-2 {
    grid-row: span 2;
}

.card--moderate-violet {
    background-color: var(--moderate-violet);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right 15%;
}

.card--very-dark-grayish-blue {
    background-color: var(--very-dark-grayish-blue);
}

.card--very-dark-blackish-blue {
    background-color: var(--very-dark-backish-blue);
}

.card--white {
    background-color: var(--white);
    box-shadow: 3px 3px 3px var(--light-gray);
}

.card--moderate-violet,
.card--very-dark-grayish-blue,
.card--very-dark-blackish-blue {
    color: var(--white);
}

.card__image {
    border-radius: 50%;
    border: 2px solid var(--white);
    width: 50px;
}

.author__name {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 1.1rem;
}

.author__description {
    margin-top: 0px;
    opacity: 50%;
}

.card__short-review {
    font-size: 1.25rem;
    font-weight: 600;
}

.card__long-review {
    opacity: 70%;
}

.card__author {
    display: grid;
    grid-template-columns: 65px auto;
}